body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.indice-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}

.indice-button:hover {
    background-color: #0056b3;
}

.titulo-container {
    background-color: #007B7F;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: white;
}

.highlight {
    color: white;
    font-weight: bold;
}

.texto-container {
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

.imagen-container {
    text-align: center; /* Centra la imagen */
    margin-top: 20px; /* Espacio superior para la imagen */
}

.imagen-analisis {
    max-width: 100%; /* Asegura que la imagen no desborde el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
}
