body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    background-color: #2596be;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    margin-top: 0;
}

h2 {
    font-size: 16px;
    color: #7c7b7b;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #867e7e;
    margin-top: 0;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

textarea {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: 3px double #007bff;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea:focus {
    border-color: #0056b3;
    outline: none;
}

.ejemplos {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
    background-color: #cedce1;
    color: #000000;
    padding: 15px;
    text-align: center;
    font-style: italic;
    border-radius: 4px;
    margin-top: 0;
}

/* Estilo del botón Guardar */
button[type="submit"] {
    background-color: #2596be; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, transform 0.3s; /* Transiciones */
    font-size: 16px; /* Tamaño de fuente */
    width: 100%; /* Ancho completo */
    margin-top: 20px; /* Espacio superior */
}

/* Efecto al pasar el mouse */
button[type="submit"]:hover {
    background-color: #1a6d8d; /* Color de fondo al pasar el mouse */
    transform: scale(1.05); /* Aumenta el tamaño ligeramente */
}

/* Efecto al hacer clic */
button[type="submit"]:active {
    background-color: #0056b3; /* Color de fondo al hacer clic */
    transform: scale(0.95); /* Reduce el tamaño ligeramente al hacer clic */
}

/* Botones en cuadrícula */
.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.info-item {
    display: block;
    background-color: #2596be;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

.info-item:first-child {
    grid-column: 1;
}

.info-item:last-child {
    grid-column: 2;
}

.volver {
    display: inline-block;
    background-color: #f08080;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #4a4a4a;
    position: fixed;
    top: 50px;
    left: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.volver:hover {
    background-color: #ff6961;
}
