body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 40px;
}

h1 {
    background-color: #2596be;
    color: #ffffff;
    padding: 15px;
    text-align: center;
    border-radius: 4px;
    margin-top: 0;
}

.bold {
    font-weight: bold;
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 20px 0;
}

.info-item {
    display: block;
    background-color: #2596be;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 50px;
    margin-right: 50px;
}

.info-item:first-child {
    grid-column: 1;
}

.info-item:last-child {
    grid-column: 2;
}

ul {
    margin: 10px 0;
}

p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #007bff;
    border-radius: 4px;
    box-sizing: border-box;
}

.volver {
    display: inline-block;
    background-color: #f08080;
    color: #ffffff;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    border: 2px solid #4a4a4a;
    position: fixed;
    top: 50px;
    left: 190px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.volver:hover {
    background-color: #ff6961;
}

.ejemplos {
    padding: 15px;
    margin: 20px 0;
    background-color: #f0f0f0;
    border-radius: 5px;
}

h2 {
    font-size: 16px;
    color: #7c7b7b;
    font-weight: normal;
    margin-bottom: 10px;
}

h3 {
    font-size: 18px;
    color: #867e7e;
    margin-top: 0;
}

h4 {
    background-color: #cedce1;
    color: #000000;
    padding: 15px;
    text-align: center;
    font-style: italic;
    border-radius: 4px;
    margin-top: 0;
}

.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #28a745;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #218838;
}

.valor-campo {
    display: none;
    margin: 10px 0;
}
